{% load thumbnail %}
{% load sorl_thumbnail %}
{% load poll_extras %}
{% load render_partial %}

<div class="col-sm-{{ col_size }}">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                {% if episode.image %}
                    {% thumbnail episode.image "268x250" quality=90 crop='center' as im %}
                        <img src="{{ im.url }}">
                    {% endthumbnail %}
                {% else %}
                    <img src="{{ episode.image }}" alt=""/>
                {% endif %}
                <h2 style="font-size: 10px">Episode : {{ episode.name | slice:30 }} ...</h2>
            </div>
            <div class="product-overlay">
                <div class="overlay-content">
                    {% include 'includes/final_content_overlay_content_partial.html' with object=episode %}
                    <a href="{% url 'episode_detail' slug=episode.slug %}" class="btn btn-default add-to-cart"><i
                            class="fa fa-headphones"></i>Listen</a>
                </div>
            </div>
        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <li class="row">
                    <button onclick="likeItem('{{ episode.type }}', '{{ episode.id }}')" style="border: 0px;float: left ; margin-left: 5px " type="submit"><i
                            class="fa fa-heart"></i> Like
                    </button>
                    <div class="col-md-2"></div>
                    <button onclick="unLikeItem('{{ episode.type }}', '{{ episode.id }}')" style="border: 0px;float: right ; margin-right: 5px " type="submit"><i
                            class="fa fa-minus-square"></i> UnLike
                    </button>

                </li>
            </ul>
        </div>
    </div>
</div>